body {
  height: 100vh;
  text-align: center;
  margin: auto;
  box-sizing: border-box;
  &.darkMode {
    background-color: rgb(14, 14, 17);
    color: rgb(188, 184, 199);
    #input_name,
    #input_content {
      background-color: rgb(24, 24, 27);
      color: rgb(181, 176, 197);
      border: solid 1px rgb(78, 79, 82);
    }
    .email {
      color: rgb(188, 184, 199);
    }
    .btn {
      background-color: #37384e;
      color: #fff;
    }
  }
}
input {
  outline: none;
}
textarea {
  outline: none;
  resize: none;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  margin: 4px;
  padding: 0.8em 1em;
  border: none;
  background-color: #f19143;
  color: #fff;
  border-radius: 3.75rem;
}

header {
  display: flex;
  padding: 8px 12px;
  justify-content: space-between;

  .logo {
    margin: 0;
  }
}

#update {
  #version {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
  }
  .update_content {
    display: none;
    text-align: left;
    position: absolute;
    top: 5%;
    padding: 8px;
    border-radius: 4px;
    right: 12px;
    color: rgb(24, 24, 27);
    background-color: rgb(255, 255, 255);
  }
}

#question {
  position: absolute;
  position: absolute;
  right: 12px;
  .material-icons {
    font-size: 36px;
    cursor: pointer;
  }
}

#text_content {
  height: 80%;
  label {
    margin: 8px;
  }
  #title {
    margin-bottom: 24px;
    #file_name {
      display: block;
    }
    #input_name {
      width: 70%;
      height: 36px;
      font-size: 16px;
    }
  }
  #content {
    height: 100%;
    #file_content {
      display: block;
    }
    #input_content {
      width: 70%;
      height: 80%;
      font-size: 16px;
    }
  }
}

#controls {
  #count {
    display: flex;
    justify-content: center;
    div:nth-child(1) {
      padding-right: 24px;
    }
  }

  #btn {
    margin: 12px;
  }
}

@media screen and (max-width: 760px) {
  body {
    font-size: 14px;
  }
  .btn {
    margin: 4px;
    padding: 0.4em 0.7em;
  }
  #text_content {
    height: 70%;
    #title {
      #input_name {
        width: 80%;
        height: 24px;
      }
    }
    #content {
      #input_content {
        width: 80%;
        height: 70%;
      }
    }
  }
}
