body {
  height: 100%;
  text-align: center;
  margin: auto;
  &.darkMode {
    background-color: rgb(14, 14, 17);
    color: rgb(188, 184, 199);
    #input_name,
    #input_content {
      background-color: rgb(24, 24, 27);
      color: rgb(181, 176, 197);
      border: solid 1px rgb(78, 79, 82);
    }
    .email {
      color: rgb(188, 184, 199);
    }
  }
}
input {
  outline: none;
}
textarea {
  outline: none;
  resize: none;
}

a {
  text-decoration: none;
  color: black;
}

#update {
  #version {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
  }
  .update_content {
    display: none;
    text-align: left;
    position: absolute;
    top: 5%;
    padding: 8px;
    border-radius: 4px;
    right: 12px;
    color: rgb(24, 24, 27);
    background-color: rgb(255, 255, 255);
  }
}

#text_content {
  #title {
    margin-bottom: 24px;
    #file_name {
      display: block;
    }
    #input_name {
      width: 60%;
      height: 36px;
      font-size: 16px;
    }
  }
  #content {
    #file_content {
      display: block;
    }
    #input_content {
      width: 60%;
      height: 600px;
      font-size: 16px;
    }
  }
}

#count {
  display: flex;
  justify-content: center;
  margin: 12px;
  div:nth-child(1) {
    padding-right: 24px;
  }
}

#btn {
  margin: 24px;
}
